<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Add repositories here to the list of available repositories -->
    
    <!-- Dependencies that we must carry because they're not on public nuget feeds right now. -->
    <add key="Static Package Dependencies" value="dep\packages" />
    
    <!-- Internal NuGet feeds that may not be accessible outside Microsoft corporate network -->
    <!--<add key="TAEF - internal" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/Taef/nuget/v3/index.json" />
    <add key="OpenConsole - Internal" value="https://microsoft.pkgs.visualstudio.com/_packaging/OpenConsole/nuget/v3/index.json" />-->
  </packageSources>
  <config>
	<add key="repositorypath" value=".\packages" />
  </config>
</configuration>
