<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- Dependencies that we can turn on to force override for testing purposes before uploading. -->
        <!--<add key="Static Package Dependencies" value="dep\packages" />-->
        <add key="TerminalDependencies" value="https://pkgs.dev.azure.com/ms/terminal/_packaging/TerminalDependencies/nuget/v3/index.json" />

        <!-- DO NOT SUBMIT THIS IT IS A SECURITY ISSUE.  Temporary workaround so I don't need to ask the Terminal team to add dependencies one at a time to the feed. -->
        <add key="Nuget.org" value="https://www.nuget.org/api/v2" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <config>
        <!-- TODO: TEMPORARY UNTIL PGO-Helpers is updated to search both. We shouldn't need to keep the globals path here. -->
        <add key="globalPackagesFolder" value=".\packages" />
        <add key="repositorypath" value=".\packages" />
    </config>
</configuration>
