<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:uap15="http://schemas.microsoft.com/appx/manifest/uap/windows10/15"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:virtualization="http://schemas.microsoft.com/appx/manifest/virtualization/windows10"
  IgnorableNamespaces="uap mp rescap uap3 uap10 uap15 desktop6 virtualization">

  <Identity
    Name="b04bb6c4-61d6-4fc2-993f-b17d846d8e64"
    Publisher="CN=migrie"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="b04bb6c4-61d6-4fc2-993f-b17d846d8e64" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ExtensionHost</DisplayName>
    <PublisherDisplayName>migrie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap15:DependencyTarget>true</uap15:DependencyTarget>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>

    <!-- <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ExtensionHost.App" uap10:TrustLevel="mediumIL"> -->
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ExtensionHost.App">
      <uap:VisualElements DisplayName="ExtensionHost" Description="Project for a single page C++/WinRT Universal Windows Platform (UWP) app with no predefined layout"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>


      <Extensions>
        <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="com.terminal.scratch"
                Id="ScratchIslandApp"
                DisplayName="Scratch Island App"
                Description="This is my test extension"
                PublicFolder="Public">
                <uap3:Properties>
                    <Implementation>ExtensionComponent.Class</Implementation>
                </uap3:Properties>
            </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
