<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PInvoke.Kernel32" version="0.5.184" targetFramework="net472" />
  <package id="PInvoke.User32" version="0.5.184" targetFramework="net472" />
  <package id="PInvoke.Windows.Core" version="0.5.184" targetFramework="net472" />
  <package id="PInvoke.Windows.ShellScalingApi" version="0.5.184" targetFramework="net472" />
  <package id="Validation" version="2.4.15" targetFramework="net472" />
</packages>