version: 2.1

# Define a job to be invoked later in a workflow.
jobs:
  build:
    docker:
      - image: cimg/azure:2025.01
    steps:
      - checkout
      - run: az --version

    # Add steps to the job
    steps:
      # Checkout the code as the first step.
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"

# Orchestrate jobs using workflows
workflows:
  say-hello-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - say-hello
