<?xml version="1.0" encoding="utf-8"?>
<!-- The packages.config acts as the global version for all of the NuGet packages contained within. -->
<packages>
  <!-- Native packages -->
  <package id="Microsoft.Internal.PGO-Helpers.Cpp" version="0.2.34" targetFramework="native" />
  <package id="Microsoft.Taef" version="10.60.210621002" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230207.1" targetFramework="native" />
  <package id="Microsoft.Internal.Windows.Terminal.ThemeHelpers" version="0.7.230706001" targetFramework="native" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Native" version="2.3.2262" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.UI.Xaml" version="2.8.4" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.1661.34" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.220201.1" targetFramework="native" developmentDependency="true" />

  <!-- Managed packages -->
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.5.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.5.0" targetFramework="net45" />
</packages>
