<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Internal.PGO-Helpers.Cpp" version="0.2.34" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.8.0-pr.220308002" targetFramework="native" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Native" version="2.3.2262" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Web.WebView2" version="1.0.1108.44" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210825.3" targetFramework="native" />
</packages>