<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap uap3">

  <Identity
    Name="Microsoft.WindowsTerminalPreview"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="0.5.0.0" />

  <Properties>
    <DisplayName>Windows Terminal Preview</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppNamePre"
        Description="ms-resource:AppDescriptionPre"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Images\Wide310x150Logo.png"
          Square71x71Logo="Images\SmallTile.png"
          Square310x310Logo="Images\LargeTile.png"
          ShortName="ms-resource:AppShortNamePre">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>

      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="wt.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="wt.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <uap3:Extension Category="windows.appExtensionHost">
          <uap3:AppExtensionHost>
            <uap3:Name>com.microsoft.windows.terminal.settings</uap3:Name>
          </uap3:AppExtensionHost>
        </uap3:Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="StartTerminalOnLoginTask"
            Enabled="false"
            DisplayName="ms-resource:AppNamePre" />
        </uap5:Extension>
        <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="com.microsoft.windows.console.host"
                Id="OpenConsole-Pre"
                DisplayName="OpenConsole Preview"
                Description="Console host built from microsoft/terminal open source repository"
                PublicFolder="Public">
                <uap3:Properties>
                    <Clsid>{06EC847C-C0A5-46B8-92CB-7C92F6E35CD5}</Clsid>
                </uap3:Properties>
            </uap3:AppExtension>
        </uap3:Extension>
        <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="com.microsoft.windows.terminal.host"
                Id="Terminal-Pre"
                DisplayName="Windows Terminal Preview"
                Description="Terminal host built from microsoft/terminal open source repository"
                PublicFolder="Public">
                <uap3:Properties>
                    <Clsid>{86633F1F-6454-40EC-89CE-DA4EBA977EE2}</Clsid>
                </uap3:Properties>
            </uap3:AppExtension>
        </uap3:Extension>
        <com:Extension Category="windows.comInterface">
            <com:ComInterface>
                <com:ProxyStub Id="1833E661-CC81-4DD0-87C6-C2F74BD39EFA" DisplayName="OpenConsoleHandoffProxy" Path="OpenConsoleProxy.dll"/>
                <com:Interface Id="2B607BC1-43EB-40C3-95AE-2856ADDB7F23" ProxyStubClsid="1833E661-CC81-4DD0-87C6-C2F74BD39EFA"/>
                <com:Interface Id="FA1E3AB4-9AEC-4A3C-96CA-E6078C30BD74" ProxyStubClsid="1833E661-CC81-4DD0-87C6-C2F74BD39EFA"/>
            </com:ComInterface>
        </com:Extension>
        <com:Extension Category="windows.comServer">
            <com:ComServer>
                <com:ExeServer DisplayName="OpenConsole" Executable="OpenConsole.exe">
                    <com:Class Id="06EC847C-C0A5-46B8-92CB-7C92F6E35CD5"/>
                </com:ExeServer>
                <com:ExeServer DisplayName="WindowsTerminal" Executable="WindowsTerminal.exe">
                    <com:Class Id="86633F1F-6454-40EC-89CE-DA4EBA977EE2"/>
                </com:ExeServer>
                <com:SurrogateServer DisplayName="WindowsTerminalShellExt">
                    <com:Class Id="02db545a-3e20-46de-83a5-1329b1e88b6b" Path="WindowsTerminalShellExt.dll" ThreadingModel="STA"/>
                </com:SurrogateServer>
            </com:ComServer>
        </com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
            <desktop4:FileExplorerContextMenus>
                <desktop5:ItemType Type="Directory">
                    <desktop5:Verb Id="OpenTerminalPre" Clsid="02db545a-3e20-46de-83a5-1329b1e88b6b" />
                </desktop5:ItemType>
                <desktop5:ItemType Type="Directory\Background">
                  <desktop5:Verb Id="OpenTerminalPre" Clsid="02db545a-3e20-46de-83a5-1329b1e88b6b" />
                </desktop5:ItemType>
            </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Extensions>
    <uap7:Extension Category="windows.sharedFonts">
      <uap7:SharedFonts>
        <uap4:Font File="Cascadia.ttf" />
        <uap4:Font File="CascadiaMono.ttf" />
      </uap7:SharedFonts>
    </uap7:Extension>
  </Extensions>
</Package>
