<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:virtualization="http://schemas.microsoft.com/appx/manifest/virtualization/windows10"
  IgnorableNamespaces="uap mp rescap uap3 desktop6 virtualization">

  <Identity
    Name="Microsoft.WindowsTerminal"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>ms-resource:AppStoreName</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <!-- Older versions of Windows 10 respect this -->
    <desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
    <!-- Newer versions of Windows 10 plus all versions of Windows 11 respect this -->
    <virtualization:RegistryWriteVirtualization>
      <virtualization:ExcludedKeys>
        <virtualization:ExcludedKey>HKEY_CURRENT_USER\Console\%%Startup</virtualization:ExcludedKey>
      </virtualization:ExcludedKeys>
    </virtualization:RegistryWriteVirtualization>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="EN-US" />
    <Resource Language="EN-GB" />
    <Resource Language="AF-ZA" />
    <Resource Language="AM-ET" />
    <Resource Language="AR-SA" />
    <Resource Language="AS-IN" />
    <Resource Language="AZ-LATN-AZ" />
    <Resource Language="BG-BG" />
    <Resource Language="BN-IN" />
    <Resource Language="BS-LATN-BA" />
    <Resource Language="CA-ES" />
    <Resource Language="CA-ES-VALENCIA" />
    <Resource Language="CS-CZ" />
    <Resource Language="CY-GB" />
    <Resource Language="DA-DK" />
    <Resource Language="DE-DE" />
    <Resource Language="EL-GR" />
    <Resource Language="ES-ES" />
    <Resource Language="ES-MX" />
    <Resource Language="ET-EE" />
    <Resource Language="EU-ES" />
    <Resource Language="FA-IR" />
    <Resource Language="FI-FI" />
    <Resource Language="FIL-PH" />
    <Resource Language="FR-CA" />
    <Resource Language="FR-FR" />
    <Resource Language="GA-IE" />
    <Resource Language="GD-GB" />
    <Resource Language="GL-ES" />
    <Resource Language="GU-IN" />
    <Resource Language="HE-IL" />
    <Resource Language="HI-IN" />
    <Resource Language="HR-HR" />
    <Resource Language="HU-HU" />
    <Resource Language="HY-AM" />
    <Resource Language="ID-ID" />
    <Resource Language="IS-IS" />
    <Resource Language="IT-IT" />
    <Resource Language="JA-JP" />
    <Resource Language="KA-GE" />
    <Resource Language="KK-KZ" />
    <Resource Language="KM-KH" />
    <Resource Language="KN-IN" />
    <Resource Language="KO-KR" />
    <Resource Language="KOK-IN" />
    <Resource Language="LB-LU" />
    <Resource Language="LO-LA" />
    <Resource Language="LT-LT" />
    <Resource Language="LV-LV" />
    <Resource Language="MI-NZ" />
    <Resource Language="MK-MK" />
    <Resource Language="ML-IN" />
    <Resource Language="MR-IN" />
    <Resource Language="MS-MY" />
    <Resource Language="MT-MT" />
    <Resource Language="NB-NO" />
    <Resource Language="NE-NP" />
    <Resource Language="NL-NL" />
    <Resource Language="NN-NO" />
    <Resource Language="OR-IN" />
    <Resource Language="PA-IN" />
    <Resource Language="PL-PL" />
    <Resource Language="PT-BR" />
    <Resource Language="PT-PT" />
    <Resource Language="QPS-PLOC" />
    <Resource Language="QPS-PLOCA" />
    <Resource Language="QPS-PLOCM" />
    <Resource Language="QUZ-PE" />
    <Resource Language="RO-RO" />
    <Resource Language="RU-RU" />
    <Resource Language="SK-SK" />
    <Resource Language="SL-SI" />
    <Resource Language="SQ-AL" />
    <Resource Language="SR-CYRL-BA" />
    <Resource Language="SR-CYRL-RS" />
    <Resource Language="SR-LATN-RS" />
    <Resource Language="SV-SE" />
    <Resource Language="TA-IN" />
    <Resource Language="TE-IN" />
    <Resource Language="TH-TH" />
    <Resource Language="TR-TR" />
    <Resource Language="TT-RU" />
    <Resource Language="UG-CN" />
    <Resource Language="UK-UA" />
    <Resource Language="UR-PK" />
    <Resource Language="UZ-LATN-UZ" />
    <Resource Language="VI-VN" />
    <Resource Language="ZH-CN" />
    <Resource Language="ZH-TW" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Images\Wide310x150Logo.png"
          Square71x71Logo="Images\SmallTile.png"
          Square310x310Logo="Images\LargeTile.png"
          ShortName="ms-resource:AppShortName">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>

      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="wt.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="wt.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <uap3:Extension Category="windows.appExtensionHost">
          <uap3:AppExtensionHost>
            <uap3:Name>com.microsoft.windows.terminal.settings</uap3:Name>
          </uap3:AppExtensionHost>
        </uap3:Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="StartTerminalOnLoginTask"
            Enabled="false"
            DisplayName="ms-resource:AppName" />
        </uap5:Extension>
        <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="com.microsoft.windows.console.host"
                Id="OpenConsole"
                DisplayName="OpenConsole"
                Description="Console host built from microsoft/terminal open source repository"
                PublicFolder="Public">
                <uap3:Properties>
                    <Clsid>{2EACA947-7F5F-4CFA-BA87-8F7FBEEFBE69}</Clsid>
                </uap3:Properties>
            </uap3:AppExtension>
        </uap3:Extension>
        <uap3:Extension Category="windows.appExtension">
            <uap3:AppExtension Name="com.microsoft.windows.terminal.host"
                Id="Terminal"
                DisplayName="Terminal"
                Description="Terminal host built from microsoft/terminal open source repository"
                PublicFolder="Public">
                <uap3:Properties>
                    <Clsid>{E12CFF52-A866-4C77-9A90-F570A7AA2C6B}</Clsid>
                </uap3:Properties>
            </uap3:AppExtension>
        </uap3:Extension>
        <com:Extension Category="windows.comInterface">
            <com:ComInterface>
                <com:ProxyStub Id="3171DE52-6EFA-4AEF-8A9F-D02BD67E7A4F" DisplayName="OpenConsoleHandoffProxy" Path="OpenConsoleProxy.dll"/>
                <com:Interface Id="E686C757-9A35-4A1C-B3CE-0BCC8B5C69F4" ProxyStubClsid="3171DE52-6EFA-4AEF-8A9F-D02BD67E7A4F"/>
                <com:Interface Id="59D55CCE-FC8A-48B4-ACE8-0A9286C6557F" ProxyStubClsid="3171DE52-6EFA-4AEF-8A9F-D02BD67E7A4F"/> <!-- ITerminalHandoff -->
                <com:Interface Id="AA6B364F-4A50-4176-9002-0AE755E7B5EF" ProxyStubClsid="3171DE52-6EFA-4AEF-8A9F-D02BD67E7A4F"/> <!-- ITerminalHandoff2 -->
                <com:Interface Id="746E6BC0-AB05-4E38-AB14-71E86763141F" ProxyStubClsid="3171DE52-6EFA-4AEF-8A9F-D02BD67E7A4F"/>
            </com:ComInterface>
        </com:Extension>
        <com:Extension Category="windows.comServer">
            <com:ComServer>
                <com:ExeServer DisplayName="OpenConsole" Executable="OpenConsole.exe">
                    <com:Class Id="2EACA947-7F5F-4CFA-BA87-8F7FBEEFBE69"/>
                </com:ExeServer>
                <com:ExeServer DisplayName="WindowsTerminal" Executable="WindowsTerminal.exe">
                    <com:Class Id="E12CFF52-A866-4C77-9A90-F570A7AA2C6B"/>
                </com:ExeServer>
                <com:SurrogateServer DisplayName="WindowsTerminalShellExt">
                    <com:Class Id="9f156763-7844-4dc4-b2b1-901f640f5155" Path="WindowsTerminalShellExt.dll" ThreadingModel="STA"/>
                </com:SurrogateServer>
            </com:ComServer>
        </com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
            <desktop4:FileExplorerContextMenus>
                <desktop5:ItemType Type="Directory">
                    <desktop5:Verb Id="OpenTerminalHere" Clsid="9f156763-7844-4dc4-b2b1-901f640f5155" />
                </desktop5:ItemType>
                <desktop5:ItemType Type="Directory\Background">
                  <desktop5:Verb Id="OpenTerminalHere" Clsid="9f156763-7844-4dc4-b2b1-901f640f5155" />
                </desktop5:ItemType>
            </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

  <Extensions>
    <uap7:Extension Category="windows.sharedFonts">
      <uap7:SharedFonts>
        <uap4:Font File="CascadiaCode.ttf" />
        <uap4:Font File="CascadiaCodeItalic.ttf" />
        <uap4:Font File="CascadiaMono.ttf" />
        <uap4:Font File="CascadiaMonoItalic.ttf" />
      </uap7:SharedFonts>
    </uap7:Extension>
  </Extensions>

  <mp:PhoneIdentity
    PhoneProductId="3a855625-ba50-46d5-b806-cb4520089c64"
    PhonePublisherId="95d94207-0c7c-47ed-82db-d75c81153c35" />

</Package>
