<?xml version="1.0" encoding="utf-8"?>
<!-- The packages.config acts as the global version for all of the NuGet packages contained within. -->
<packages>
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.1.3" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.7.0-prerelease.210913003" targetFramework="native" />
  <!--<package id="Microsoft.Windows.CppWinRT" version="2.0.220224.4" targetFramework="native" />-->
  <package id="Microsoft.Internal.PGO-Helpers.Cpp" version="0.2.34" targetFramework="native" />
  <package id="Microsoft.Taef" version="10.60.210621002" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210825.3" targetFramework="native" />
  
  <!-- Prototype packages. -->
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22000.194" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.0.0" targetFramework="native" />

  <!-- Mismatched versions-->
  <!-- v:\t\terminal\src\tools\MonarchPeasantSample\packages.config -->
  <!--<package id="Microsoft.Windows.CppWinRT" version="2.0.200609.3" targetFramework="native" />-->

</packages>
