<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Selenium.Support" version="3.5.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.5.0" targetFramework="net45" />
  <package id="Microsoft.Taef" version="10.58.210305002" targetFramework="net45" />
</packages>