<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="acd37bd8-2a87-489f-970a-f8d724dc6091"
    Publisher="CN=migrie"
    Version="1.0.2.0" />

  <Properties>
    <DisplayName>RpcPackage</DisplayName>
    <PublisherDisplayName>migrie</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.18362.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="ServerApp"
      Executable="rpcServer.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="RpcServer Package"
        Description="RpcServer Package"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>


      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="rpcClient.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="rpcClient.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>


        <com:Extension Category="windows.comInterface">
            <com:ComInterface>
                <com:ProxyStub Id="1111d2f1-1c69-4c91-949e-12345a85bdc5" DisplayName="ProxyStub" Path="ProxyStub.dll"/>

                <!-- IScratch -->
                <!-- <com:Interface Id="BB64926F-1111-470D-BB8A-3D2CC4B035E4" ProxyStubClsid="1111d2f1-1c69-4c91-949e-12345a85bdc5"/>  -->

                <!-- ICalculatorComponent -->
                <!-- <com:Interface Id="0DBABB94-CE99-42F7-ACBD-E698B2332C60" ProxyStubClsid="1111d2f1-1c69-4c91-949e-12345a85bdc5"/>  -->

                <!-- IContentProc -->
                <com:Interface Id="4df20d16-8082-4d1a-bb24-f636e4985cfd" ProxyStubClsid="1111d2f1-1c69-4c91-949e-12345a85bdc5"/>

                <!-- IWindowProc -->
                <com:Interface Id="378a1c59-570e-404f-93a9-eda91de865ff" ProxyStubClsid="1111d2f1-1c69-4c91-949e-12345a85bdc5"/>

                <!-- IWindowBroker -->
                <com:Interface Id="782fad04-badb-4021-a857-06abcaaa3d62" ProxyStubClsid="1111d2f1-1c69-4c91-949e-12345a85bdc5"/>
            </com:ComInterface>
        </com:Extension>

        <com:Extension Category="windows.comServer">
            <com:ComServer>
                <com:ExeServer DisplayName="RpcServerExe" Executable="RpcServer.exe">

                    <!-- ScratchImpl -->
                    <!-- <com:Class Id="E68F5EDD-2222-4E72-A10B-4067ED8E85F2"/>  -->

                    <!-- CalculatorComponent -->
                    <!-- <com:Class Id="E68F5EDD-6257-4E72-A10B-4067ED8E85F2"/>  -->

                    <!-- WindowBroker -->
                    <com:Class Id="c4e46d11-dd74-43e8-a4b9-d0f789ad3751"/>
                </com:ExeServer>
            </com:ComServer>
        </com:Extension>

      </Extensions>

    </Application>


    <Application Id="ClientApp"
      Executable="rpcClient.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="RpcClient Package"
        Description="RpcClient Package"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>

<!--
      <Extensions>

        <uap3:Extension Category="windows.appExecutionAlias" Executable="rpcClient.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="rpcClient.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
      </Extensions> -->

    </Application>

  </Applications>

<!--   <Extensions>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="1111d2f1-1c69-4c91-949e-4bb67a85bdc5">
        <Path>ProxyStub.dll</Path>
        <Interface Name="IScratch" InterfaceId="BB64926F-1111-470D-BB8A-3D2CC4B035E4" />
        <Interface Name="ICalculatorComponent" InterfaceId="0DBABB94-CE99-42F7-ACBD-E698B2332C60" />
      </ProxyStub>
    </Extension>
  </Extensions> -->

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>



</Package>
