<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200316.3" targetFramework="native" />
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.0.0" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.4.2-prerelease.200604001" targetFramework="native" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.1-rc" targetFramework="native" />
  <package id="Terminal.ThemeHelpers" version="0.2.200324001" targetFramework="native" />
</packages>